.percent-modal{
    .ant-modal-body{
        text-align: center;
        padding: 40px 16px;
    }
    .ant-modal-header{
        display: none;
    }
    .ant-modal-footer{
        display: none;
    }
}
.upload-zip {
    .anticon-plus{
        font-size: 60px !important;
        margin-top: 25px !important;
        margin-left: 26px !important;
    }
    .kuma-uploader{
        width: 112px;
        height: 112px;
        background: #ebeff2;
        color: #000;
        &.disable{
          cursor: not-allowed;
          color: #666666;
        }
    }
    .ant-upload{
        width: 112px;
        height: 112px;
        background: #ebeff2;
        color: #000;
        &.disable{
          cursor: not-allowed;
          color: #666666;
        }
        > span {
          width: 100%;
          height: 112px;
        }
    }
    .kuma-upload-filelist-container{
        display: none !important;
    }
    &:hover {
        .zip-format {
          display: block;
        }
    }
    .zip-format{
        display: none;
        position: absolute;
        width: 112px;
        height: 112px;
        background: #666;
        top: 0;
        cursor: pointer;
        line-height: 110px;
        text-align: center;
        text-decoration: underline;
        color: #fff;
    }
}
.zip-div{
    width: 112px;
    height: 112px;
    background: #ebeff2;
    position: relative;
    display: inline-block;

    img{
        height: 100%;
        max-height: 300px;
        max-width: 600px;
        object-fit: cover;
    }

    .ant-btn-ghost {
        position: absolute;
        right: 0px;
        top: 0px;
        cursor: pointer;
        width: 23px;
        height: 23px;
        padding: 0;
        font-size: 16px;
        line-height: 14px;
        font-weight: bold;
        border: 0px;
        color: #b3c4dc;
        background: rgba(235,239,242,0);

        &:hover {
            color: #60bdff;
            border-color: #60bdff;
        }
    }
}

.upload{
    position: relative;
    min-height: 30px;
    text-align: center;
    max-width: 112px;
    max-height: 112px;
    display: inline-block;
    margin-right: 10px;

    img {
        width: 100%;
        max-width: 112px;
        max-height: 112px;
        object-fit: cover;
    }

    div {
        position: absolute;
        width: 40px;
        height: 40px;
        top: -11px;
        right: -9px;

        .ant-btn-ghost {
            position: relative;
            top: 11px;
            cursor: pointer;
            width: 22px;
            height: 22px;
            padding: 0 0 0 1px;
            font-size: 16px;
            line-height: 14px;
            border-radius: 0px;
            border: 0px;
            color: #a4a4a4;
            min-width: auto;
            background: #e7e7eb;

            &:hover {
                color: #fff;
                background: #42a5dd;
            }
        }
    }
}

.token-upload {
     .kuma-upload-button {
        display: inline-block;
        margin-bottom: 0;
        font-weight: 400;
        text-align: center;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        background-image: none;
        border: 1px solid transparent;
        white-space: nowrap;
        line-height: 1.5;
        padding: 4px 11px;
        font-size: 14px;
        border-radius: 4px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        transition: all .3s cubic-bezier(.645,.045,.355,1);
        transform: translateZ(0);
        color: #666;
        background-color: #f4f4f4;
        border-color: #d9d9d9;
    }
}
