.text-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font: 14px Tahoma, Arial, Helvetica, "Microsoft YaHei", "宋体", sans-serif;
}

.text-box {
  overflow-x: hidden;
  overflow-y: auto;
  word-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap;
  font: 14px Tahoma, Arial, Helvetica, "Microsoft YaHei", "宋体", sans-serif;
}