.clearfix {
  .ant-upload {
    float: left;

    > span {
      width: 110px;
      height: 130px;
      text-align: center;
      border: 1px solid #e7e7eb;

      i {
        font-size: 60px;
        padding-top: 38px;
        color: #e7e7eb;
      }

      &:hover {
        i {
          display: none;
        }

        .upload-tip {
          display: block;
        }
      }

      .upload-tip {
        display: none;
        text-decoration: underline;
        color: white;
        width: 110px;
        height: 130px;
        background-color: #666666;
        text-align: center;
        line-height: 130px;
        cursor: pointer;
      }
    }
  }

  .anticon-cross {
    font-size: 20px !important;
  }
}

.ant-upload-list-picture {
  float: left;
  margin-left: 10px;

  .ant-upload-list-item {
    margin-top: 0;
    width: 130px !important;
    height: 130px !important;
  }

  .ant-upload-list-item-thumbnail {
    width: 112px !important;
    height: 112px !important;

    img {
      width: 112px !important;
      height: 112px !important;
    }
  }
}
