.common-upload{
    .word-txt{
        word-break: break-all;
        white-space: nowrap;
    }
    .upload{
        position: relative;
        min-height: 30px;
        min-width : 30px;
    	text-align: center;

    	img {
    		width: 100%;
    		max-height: 300px;
    		object-fit: cover;
    	}

        div {
            position: absolute;
            width: 40px;
            height: 40px;
            top: -11px;
            right: -9px;

            .ant-btn-ghost {
                position: relative;
    		    top: 10px;
    		    cursor: pointer;
    		    width: 22px;
    		    height: 22px;
    		    padding: 0 0 0 1px;
    		    font-size: 16px;
    		    line-height: 14px;
    		    border-radius: 0px;
    		    border: 0px;
    		    color: #a4a4a4;
                min-width: auto;
                background: #e7e7eb;

                &:hover {
                    color: #fff;
                    background: #42a5dd;
                }
            }
        }
    }
    a{
      text-decoration: underline;
      color: #42a5dc;
    }
   .upload-a{
      margin-left: 20px;
    }
    .avatar-upload{
        display: inline-block;
        max-width: 55%;
        position: relative;
        min-height: 30px;
        min-width : 30px;
        text-align: center;

      img {
        width: 100%;
        max-height: 300px;
        object-fit: cover;
      }

        div {
            position: absolute;
            width: 40px;
            height: 40px;
            top: -11px;
            right: -9px;

            .ant-btn-ghost {
                position: relative;
            top: 10px;
            cursor: pointer;
            width: 22px;
            height: 22px;
            padding: 0 0 0 1px;
            font-size: 16px;
            line-height: 14px;
            border-radius: 0px;
            border: 0px;
            color: #a4a4a4;
                min-width: auto;
                background: #e7e7eb;

                &:hover {
                    color: #fff;
                    background: #42a5dd;
                }
            }
        }
    }
}
