.org-div{
  background-image: url('../images/tree.png');
  background-repeat: no-repeat;
  width: 26px;
  height: 19px;
}
.select-right-radius-0 {
  .ant-select-selection{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}
.modal-tree {
  max-height: 400px;
    overflow: auto;

    &>li>ul {
      padding-left: 0;
    }

    &>li {
      border-left: 0 !important;

      &>span {
        cursor: default !important;
      }
    }

    li.is-leaf-node {
        span.ant-tree-switcher.ant-tree-bottom_open,
        span.ant-tree-switcher.ant-tree-center_open,
        span.ant-tree-switcher.ant-tree-noline_open,
        span.ant-tree-switcher.ant-tree-roots_open {
        background: transparent;
        }

        span.ant-tree-switcher.ant-tree-bottom_open:after,
        span.ant-tree-switcher.ant-tree-center_open:after,
        span.ant-tree-switcher.ant-tree-noline_open:after,
        span.ant-tree-switcher.ant-tree-roots_open:after {
        display: none;
        }

      span.ant-tree-switcher.ant-tree-bottom_open:before,
        span.ant-tree-switcher.ant-tree-center_open:before,
        span.ant-tree-switcher.ant-tree-noline_open:before,
        span.ant-tree-switcher.ant-tree-roots_open:before {
          position: absolute;
          display: inline-block;
          content: ' ';
          width: 10px;
          height: 1px;
          border-bottom: 1px dotted #b3b3b3;
          top: 11px;
        left: 12px;
        }

        span.ant-tree-switcher.ant-tree-bottom_close:before,
        span.ant-tree-switcher.ant-tree-center_close:before,
        span.ant-tree-switcher.ant-tree-noline_close:before,
        span.ant-tree-switcher.ant-tree-roots_close:before {
          position: absolute;
          display: inline-block;
          content: ' ';
          width: 6px;
          height: 1px;
          border-bottom: 1px dotted #b3b3b3;
          top: 11px;
        left: 22px;
        }
    }

    li {
      border-left: 1px dotted #b3b3b3;
      margin-left: 5px;
      border-top-left-radius: 3px;

      span:after {
        color: #b3b3b3 !important;
        top: 7px !important;
        font-weight: normal !important;
      }

        span.ant-tree-switcher.ant-tree-bottom_open,
        span.ant-tree-switcher.ant-tree-center_open,
        span.ant-tree-switcher.ant-tree-noline_open,
        span.ant-tree-switcher.ant-tree-roots_open {
        width: 22px !important;
        height: 16px !important;
        margin-left: -12px;
        margin-right: 4px;
        background: #fff;
        }

        span.ant-tree-switcher.ant-tree-bottom_open:after,
        span.ant-tree-switcher.ant-tree-center_open:after,
        span.ant-tree-switcher.ant-tree-noline_open:after,
        span.ant-tree-switcher.ant-tree-roots_open:after {
          content: '\E6AD';
        font-size: 31px !important;
        right: -5px;
        }

        span.ant-tree-switcher.ant-tree-bottom_close,
        span.ant-tree-switcher.ant-tree-center_close,
        span.ant-tree-switcher.ant-tree-noline_close,
        span.ant-tree-switcher.ant-tree-roots_close {
        width: 22px !important;
        height: 16px !important;
        margin-left: -12px;
        margin-right: 4px;
        background: #fff;
        }

        span.ant-tree-switcher.ant-tree-bottom_close:after,
        span.ant-tree-switcher.ant-tree-center_close:after,
        span.ant-tree-switcher.ant-tree-noline_close:after,
        span.ant-tree-switcher.ant-tree-roots_close:after {
          content: '\E6AE';
        font-size: 26px !important;
        right: -2px;
        }

        a {
          font-size: 14px;
          height: 22px;
          line-height: 22px;
          padding: 0 4px;

          &.ant-tree-node-selected {
            background-color: transparent;
            color: #42a5dd;
            font-weight: bold;
          }
        }
    }
}
