.main {
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  overflow: auto;
  margin-left: 242px;
  padding: 17px 35px;
  min-width: 1080px;
  height: 100%;
  height: calc(100% - 70px);
  height: -moz-calc(100% - 70px);
  height: -webkit-calc(100% - 70px);
  background-color: #ecf1f7;

  &-header {
    position: relative;
    padding: 20px 25px;
    background-color: #d9e1ec;
    border-radius: 5px 5px 0 0;

    zoom: 1;
    &:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
    }

    .ant-form-item {
      margin-bottom: 0;
    }

    .ant-btn {
      border-radius: 4px;
    }

    .data-count {
      position: absolute;
      width: 150px;
      right: 25px;
      top: 25px;
      font-size: 14px;
      text-align: right;
    }
  }

  .table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
    font-size: 14px;
    table-layout: fixed;
    word-wrap:break-word;

    th {
      background-color: #d9e1ec;
      padding-left: 10px;
      text-align: left;
      font-weight: normal;
      height: 40px;
      line-height: 40px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }

    td {
      border: 1px solid #e3e7f0;
      padding: 15px 40px;
      background-color: white;
    }

    dl {
      dt {
        float: left;
        width: 120px;
        color: #9caec4;
      }

      dd {
        float: left;
        width: -moz-calc(100% - 120px);
        width: -webkit-calc(100% - 120px);
        width: calc(100% - 120px);

        word-wrap:break-word;
      }
    }
  }

  .panel {
    border-radius: 4px;
    box-shadow: 0 0 2px #aaaaaa;

    .panel-title {
      width: 100%;
      height: 40px;
      line-height: 40px;
      text-indent: 10px;
      font-size: 14px;
      background-color: #d9e1ec;
    }

    .panel-body {
      padding: 10px;
      background-color: white;

      .ant-table-pagination {
        margin-right: 1em;
      }
    }
  }


  /*详情表格样式*/
  .info-table {
    width: 100%;

    tbody {
      tr {
        td {
          &:nth-child(2n + 1) {
            color: #849DC0;
          }
          &:nth-child(2n + 3) {
            border-left: 1px solid #e9e9e9;
          }
        }
      }
    }
  }
}


.record-box-big-image-shadow {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.35);
}

.record-box-big-image {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  pointer-events: none;

  div {
    display: table-cell;
    vertical-align: middle;
    .scroll-div{
      display: block;
      max-height: 500px;
      @media screen and (min-height: 800px){
        max-height: 800px;
      }
      overflow-y: auto;
      img{
        display: block;
        margin: 0 auto;
        pointer-events: auto;
        @media screen and (min-width: 1280px){
          max-width: 1280px;
        }
        max-width: 700px;
        min-height: 640px;
      }
    }
  }
}
